#favorites-main-container {
    width: 100%;
    height: calc(100vh - var(--navbarpadding));
}

#favorites-banner {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    height: 250px;
    padding-top: 150px;
}

#favorites-container {
    // DIMENSIONS
    height: calc(100vh - var(--navbarpadding) - 250px);
    width: 100%;

    // STYLING
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0px 0px 0px 0px;
    
    // border: 1px solid red;
}

.favorites-card-container {
    display: flex;
    flex-flow: column;
    max-height: 340px;
    background-color: white;
}

.favorites-card-container button {
    height: 50px;
    background-color: white;
    border: 0px;
    border-top: 1px solid grey;
    
    font-size: 15px;
    font-weight: bold;
}

.favorites-card-container button:hover {
    transition: .2s ease-in;
    background-color: grey;
}

.favorites-card-container button:active {
    transition: 0s;
    background-color: rgb(0, 0, 0, .8);
}