// HOMEPAGE CONTAINER
#homepage {
    height: calc(100vh - var(--navbarpadding));
    overflow: hidden;
}

// MAIN CONTENT
#main-container {
    // POSITIONING
    position: absolute;
    top: var(--navbarpadding);
    bottom: 0px;
    left: 0px;
    right: 0px;
    // overflow-y: hidden;
    
    // DIMENSIONS
    height: calc(100vh - var(--navbarpadding));
    min-width: 850px;

    // STYLING
    background-color: white;
}

// SEARCH CONTAINER
#search-box-container {
    // POSITION
    display: flex;
    justify-content: center;

    // DIMENSION
    height: 400px;
    width: 100%;

    // STYLING
    background: url("../assets/pexels-ezra-comeau-2387418.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

// SEARCH BANNER
#search-box-banner {
    // POSITION
    position: absolute;
    text-align: center;
    margin-top: 0px;
    top: 100px;

    // DIMENSIONS
    min-width: 755px;
    width: inherit;

    // STYLING
    font-weight: bold;
    font-size: 45px;
    line-height: 0px;
    color: white;
}

// SEARCH INPUT TEXT
#search-box {
    // POSITION
    position: absolute;
    top: 250px;

    // DIMENSIONS
    height: 40px;
    min-width: 755px;
    
    // STYLING
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 50px black;
    border-radius: 25px;
}

// SEARCH SUBMIT BUTTON
#search-box button {

    // POSITION
    float: right;
    margin-left: auto;

    // DIMENSIONS
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;

    // STYLING
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
}

.form-horizontal {
    float: left;
}

.form-horizontal input {
    float: right;
    border-radius: 25px;
    border: none;
}

// Favorite Trails
#favorite-trails-main-container {
    height: 400px;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#favorite-trails-banner {
    // DIMENSIONS
    height: 40px;
    padding-top: 15px;
    padding-left: 10px;
    width: 85%;

    // STYLING
    font-weight: bold;
    font-size: 40px;
}

#favorite-trails{
    // DIMENSIONS
    height: 360px;
    width: 85%;

    // STYLING
    padding-left: 10px;
    padding-top: 40px;
    overflow-y: hidden;
    display: flex;
    gap: 45px;
    overflow-x: auto;
}

#card-container {
    height: 303px;
}

#rating {
    position: relative;
    top: -133px;
    left: 33px;
}

#heart {
    position: relative;
    top: -350px;
    left: 245px;
    width: 0px;
    background-color: white;
    border: none;

    cursor: pointer;
}

// EXAMPLE PHOTOS
#example-photos-main-container {
    width: 100%;
    // height: 519px;
    background: black;
    
    display: flex;
    align-items: center;
    flex-flow: column;
}

#example-photos-banner {
    // Dimensions
    height: 80px;
    padding-left: 10px;
    padding-top: 15px;
    width: 85%;

    // STYLING
    font-weight: bold;
    font-size: 40px;
    color: white;
}

#example-photos-content {
    width: 85%;
    overflow: auto;
    padding-top: 15px;

    &::-webkit-scrollbar {
        display: none;
    }
}